
.usuarios-content {
  display: block;
  min-height: 100vh; /* Full viewport height */
  background-image: url('/assets/images/foto.jpg');
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
label {
  margin-top: 10px;
  font-weight: bold;
  color: #fffcfc;
}

input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #000000;
  border-radius: 4px;
}

/*
body {
    margin: 0;
    padding: 0;
    background-color: #04041c  ;
    background-image: url('/assets/images/foto.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    position: relative;
  }*/