<app-navbar></app-navbar> 
<router-outlet></router-outlet>






<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 

<app-producto> </app-producto>
<app-usuario> </app-usuario>

<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hola, {{ title }}</h1>
      <p>Ingrese nombre: </p>
      <input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="cliente.nombre">
      <input type="text" name="apellido" placeholder="Apellido" [(ngModel)]="cliente.apellido">
      <input type="number" name="cuit" placeholder="CUIT" [(ngModel)]="cliente.cuit">
      <input type="text" name="mail" placeholder="Mail" [(ngModel)]="cliente.mail">
      <p>{{cliente.nombre}}</p>
      <button (click)="agregarnombre()">Ingresar</button>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
  </div>
</main>
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
